<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album website</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>

<body>

<h1>Album List</h1>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>artist</th>
        <th>tracks</th>
        <th>release date</th>
        <th>company</th>
    </tr>
    </thead>
    
    <tbody>
    <tr th:each="album: ${albums}">
        <td th:text="${album.id}"/>
        <td th:text="${album.title}"/>
        <td th:text="${album.artist}"/>
        <td th:text="${album.tracks}"/>
        <td th:text="${album.releaseDate}"/>
        <td th:text="${album.company}"/>
        <td>
            <a th:href="@{'/viewAlbum/' + ${album.id}}">
                <button class ="btn-viewAlbum" id="btn-viewAlbum"> View an album </button>
            </a>

            <a th:href="@{'/deleteAlbum/' + ${album.id}}">
                <button class ="btn-deleteAlbum" id="btn-deleteAlbum"> Delete an album </button>
            </a>

            <a th:href="@{'/updateAlbum/' + ${album.id}}">
                <button class ="btn-updateAlbum" id="btn-updateAlbum"> Update an album </button>
            </a>

        </td>

    </tr>
    </tbody>
</table>

<div class="button-container">
    <a href="/create">
        <button class="btn-create btn" id="btn-create">Create a new Album</button>
    </a>
</div>

</body>
</html>