<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>view an album</title>
</head>
<body>

<h1>view an album</h1>

<p> Id:<span th:text="${album.id}"/> </p>
<p> Title of the album: <span th:text="${album.title}"/></p>
<p>Name of the artist: <span th:text="${album.artist}"/></p>
<p>Names of the tracks: <span th:text="${album.tracks}"/></p>
<p>date of release: <span th:text="${album.releaseDate}"/></p>
<p>Name of the company: <span th:text="${album.company}"/></p>

</body>
</html>
